.git
.gitignore
*.ipynb
01_scraping
02_cleaning_normalization
03_document_splitting
04_vectorstores_and_embeddings
05_retrieval
06_question_answering
07_chat
09_evaluation
__pycache__
.ipynb_checkpoints
.streamlit/secrets.toml
