--extra-index-url https://download.pytorch.org/whl/cpu
torch
streamlit
chainlit
langchain-huggingface
langchain-chroma
langchain-core
langchain-community
langchain-classic
langchain-openai
langchain-groq
sentence-transformers
transformers
chromadb
gdown
numpy
